<table class="table table-striped">
    <tr>
        <td>Naziv</td>
        <td>{{song.Title}}</td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>{{song.Composer?.Name}} {{song.Composer?.Surname}}</td>
    </tr>
    <tr>
        <td>Harmonizirao</td>
        <td>{{song.Arranger?.Name}} {{song.Arranger?.Surname}}</td>
    </tr>
    <tr>
        <td>Izvor</td>
        <td>{{song.Source}}</td>
    </tr>
    <tr>
        <td>Druge informacije</td>
        <td>{{song.OtherInformations}}</td>
    </tr>
    <tr>
        <td>Liturgijske kategorije</td>
        <td>
            <ul *ngFor="let liturgy of song.LiturgyCategories">
                <li>{{ songCommonService.liturgyCategories[liturgy-1] }}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Tematske kategorije</td>
        <td>
            <ul *ngFor="let theme of song.ThemeCategories">
                <li>{{ songCommonService.themeCategories[theme-1] }}</li>
            </ul>
        </td>
    </tr>
</table>
<div style="text-align:center;">
    <embed [src]="domSanitizer.bypassSecurityTrustResourceUrl(pdfFileName)" width="800" height="500"/>
</div>