<form [formGroup]="voiceForm" (ngSubmit)="createSongEmit(voiceForm.value)" autocomplete="off" novalidate>
    <div class="form-group" [ngClass]="{'has-error': key.touched && key.invalid, 'has-success': key.value!=null && key.valid}">
        <label for="Key" class="control-label">Tonalitet</label>
        <select formControlName="Key" id="Key" class="form-control">
            <option value="ces \major">Ces dur</option>
            <option value="c \major">C dur</option>
            <option value="cis \major">Cis dur</option>
            <option value="des \major">Des dur</option>
            <option value="d \major">D dur</option>
            <option value="es \major">Es dur</option>
            <option value="e \major">E dur</option>
            <option value="f \major">F dur</option>
            <option value="fis \major">Fis dur</option>
            <option value="ges \major">Ges dur</option>
            <option value="g \major">G dur</option>
            <option value="aes \major">As dur</option>
            <option value="a \major">A dur</option>
            <option value="bes \major">B dur</option>
            <option value="b \major">H dur</option>
            <option value="c \minor">c mol</option>
            <option value="cis \minor">cis mol</option>
            <option value="d \minor">d mol</option>
            <option value="dis \minor">dis mol</option>
            <option value="es \minor">es mol</option>
            <option value="e \minor">e mol</option>
            <option value="f \minor">f mol</option>
            <option value="fis \minor">fis mol</option>
            <option value="g \minor">g mol</option>
            <option value="gis \minor">gis mol</option>
            <option value="a \minor">a mol</option>
            <option value="bes \minor">b mol</option>
            <option value="b \minor">h mol</option>
        </select>
        <span class="help-block" *ngIf="key.touched && key.invalid">Obavezno!</span>
    </div>
    <div class="form-group" [ngClass]="{'has-error': (timeNumerator.touched && timeNumerator.invalid) || (timeDenominator.touched && timeDenominator.invalid), 'has-success': (timeNumerator.value!=null && timeNumerator.valid && timeDenominator.value!=null && timeDenominator.valid)}">
        <label class="control-label">Mjera</label>
        <select formControlName="timeNumerator" class="form-control">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>/
        <select formControlName="timeDenominator" class="form-control">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
        </select>
        <span class="help-block" *ngIf="(timeNumerator.touched && timeNumerator.invalid) || (timeDenominator.touched && timeDenominator.invalid)">Obavezno!</span>
    </div>
    <h2 *ngIf="chosenVoicesOrgan.length > 0">Orgulje</h2>
    <div *ngFor="let voice of chosenVoicesOrgan">
        <div [ngSwitch]="voice.voice">
            <h3 *ngSwitchCase="'Soprano'">Sopran</h3>
            <h3 *ngSwitchCase="'Alto'">Alt</h3>
            <h3 *ngSwitchCase="'Tenor'">Tenor</h3>
            <h3 *ngSwitchCase="'Bass'">Bas</h3>
        </div>
        <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlNameRelative), 'has-success': hasSuccess(voice.controlNameRelative)}">
            <label for="{{voice.controlNameRelative}}" class="control-label">Relativno</label>
            <input type="text" formControlName="{{voice.controlNameRelative}}" id="{{voice.controlNameRelative}}" class="form-control" />
            <span class="help-block" *ngIf="hasError(voice.controlNameRelative)">Obavezno!</span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlName), 'has-success': hasSuccess(voice.controlName)}">
            <label for="{{voice.controlName}}" class="control-label">Note</label>
            <textarea rows="5" cols="10" class="form-control" formControlName="{{voice.controlName}}" id="{{voice.controlName}}"></textarea>
            <span class="help-block" *ngIf="hasError(voice.controlName)">Obavezno!</span>
        </div>
    </div>
    <h2 *ngIf="chosenVoicesVoice.length > 0">Glas</h2>
    <div class="form-group" *ngFor="let voice of chosenVoicesVoice">
        <div [ngSwitch]="voice.voice">
            <h3 *ngSwitchCase="'Soprano'">Sopran</h3>
            <h3 *ngSwitchCase="'Alto'">Alt</h3>
            <h3 *ngSwitchCase="'Tenor'">Tenor</h3>
            <h3 *ngSwitchCase="'Bass'">Bas</h3>
        </div>
        <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlNameRelative), 'has-success': hasSuccess(voice.controlNameRelative)}">
            <label for="{{voice.controlNameRelative}}" class="control-label">Relativno</label>
            <input type="text" formControlName="{{voice.controlNameRelative}}" id="{{voice.controlNameRelative}}" class="form-control" />
            <span class="help-block" *ngIf="hasError(voice.controlNameRelative)">Obavezno!</span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlName), 'has-success': hasSuccess(voice.controlName)}">
            <label for="{{voice.controlName}}" class="control-label">Note</label>
            <textarea rows="5" cols="10" class="form-control" formControlName="{{voice.controlName}}" id="{{voice.controlName}}"></textarea>
            <span class="help-block" *ngIf="hasError(voice.controlName)">Obavezno!</span>
        </div>
    </div>
    <h2>Tekst</h2>
    <div>
        <div class="form-group" *ngFor="let stanza of lyrics; let i = index" [ngClass]="{'has-error': hasError(stanza.controlName), 'has-success': hasSuccess(stanza.controlName)}">
            <label for="{{stanza.controlName}}" class="control-label">{{i + 1}}. strofa</label>
            <textarea rows="5" cols="10" class="form-control" id="{{stanza.controlName}}" formControlName="{{stanza.controlName}}"></textarea>
            <span class="help-block" *ngIf="hasError(stanza.controlName)">Obavezno!</span>
        </div>
        <button type="button" class="btn btn-default" (click)="appendStanza()">Dodaj strofu</button>
        <button type="button" class="btn btn-default" (click)="deleteStanza()">Obriši strofu</button>
    </div>
    <div *ngIf="chosenVoicesParts.length > 0">
        <div *ngFor="let part of chosenVoicesParts; let i = index">
            <div [ngSwitch]="part[0].partName">
                <h2 *ngSwitchCase="'prelude'">Predigra</h2>
                <h2 *ngSwitchCase="'interlude'">Međuigra</h2>
                <h2 *ngSwitchCase="'coda'">Završetak</h2>
            </div>
            <div *ngFor="let voice of part">
                <div [ngSwitch]="voice.voice">
                    <h3 *ngSwitchCase="'Soprano'">Sopran</h3>
                    <h3 *ngSwitchCase="'Alto'">Alt</h3>
                    <h3 *ngSwitchCase="'Tenor'">Tenor</h3>
                    <h3 *ngSwitchCase="'Bass'">Bas</h3>
                </div>
                <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlNameRelative), 'has-success': hasSuccess(voice.controlNameRelative)}">
                    <label for="{{voice.controlNameRelative}}" class="control-label">Relativno</label>
                    <input type="text" formControlName="{{voice.controlNameRelative}}" id="{{voice.controlNameRelative}}" class="form-control" />
                    <span class="help-block" *ngIf="hasError(voice.controlNameRelative)">Obavezno!</span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': hasError(voice.controlName), 'has-success': hasSuccess(voice.controlName)}">
                    <label for="{{voice.controlName}}" class="control-label">Note</label>
                    <textarea rows="5" cols="10" class="form-control" formControlName="{{voice.controlName}}" id="{{voice.controlName}}"></textarea>
                    <span class="help-block" *ngIf="hasError(voice.controlName)">Obavezno!</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="preview" style="text-align:center;">
        <img src="app/assets/image/spinner.gif" style="width:150px;" *ngIf="spinner"/>
        <embed [src]="domSanitizer.bypassSecurityTrustResourceUrl(pdfFileName)" width="800" height="500" *ngIf="preview && !spinner"/>
    </div>
    <button type="button" class="btn btn-default" (click)="previewSong(voiceForm.value)" [disabled]="previewEnabled()">Pregledaj</button>
    <button type="submit" class="btn btn-default" [disabled]="voiceForm.invalid">Spremi</button>
</form>