<h2>Pretraživanje pjesama</h2>
<form [formGroup]="searchForm" (ngSubmit)="searchSongs(searchForm.value)" novalidate>
    <div class="form-group">
        <label class="control-label" for="title">Naziv</label>
        <input class="form-control" formControlName="title" id="title" type="text" />
    </div>
    <div class="form-group">
        <label>Sortiranje po</label>
        <div class="radio">
            <label>
                <input type="radio" name="orderBy" value="title" formControlName="orderBy"/> nazivu
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="orderBy" value="composer" formControlName="orderBy"/> autoru
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="orderBy" value="arranger" formControlName="orderBy" /> harmonizatoru
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" formControlName="ascending"/> Sortiraj uzlazno
            </label>
        </div>
    </div>
    <button class="btn btn-default" [disabled]="spinner">Pretraži</button>
    <span *ngIf="spinner">
        <img src="app/assets/image/spinner.gif" style="width: 100px;"/>
    </span>
</form>
<div *ngIf="songs && !spinner">
    <h3 *ngIf="songs.length==0">Nema rezultata</h3>
    <h3 *ngIf="songs.length>0">Rezultati pretraživanja</h3>
    <table class="table table-striped" *ngIf="songs.length>0">
        <thead>
            <tr>
                <th class="col-md-2">Naziv</th>
                <th class="col-md-2">Autor</th>
                <th class="col-md-2">Harmonizirao</th>
                <th class="col-md-2">Izvor</th>
                <th class="col-md-4">Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of songs | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: songCount}">
                <td class="col-md-2">
                    {{song.Title}}<br />
                    <span [ngSwitch]="song.Type">
                        <small *ngSwitchCase="'hymn'">himan</small>
                        <small *ngSwitchCase="'psalm'">psalam</small>
                    </span>
                </td>
                <td class="col-md-2">{{song.Composer?.Name}} {{song.Composer?.Surname}}</td>
                <td class="col-md-2">{{song.Arranger?.Name}} {{song.Arranger?.Surname}}</td>
                <td class="col-md-2">{{song.Source}}</td>
                <td class="col-md-4">
                    <a [routerLink]="['../view/', song.Id]" class="btn btn-default">
                        <span class="glyphicon glyphicon-open-file"></span> Otvori
                    </a>
                    <a [routerLink]="['../edit/', song.Id]" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span> Uredi
                    </a>
                    <button type="button" class="btn btn-default" (click)="deleteSong(song.Id)">
                        <span class="glyphicon glyphicon-trash"></span> Obriši
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:center">
        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Prethodna" nextLabel="Sljedeća"></pagination-controls>
    </div>
</div>