<div>
    <key-time [existingKey]="key" [existingTimeNumerator]="timeNumerator" [existingTimeDenominator]="timeDenominator"></key-time>

    <h2>Predigra</h2>
    <instrument-voices [templateVoices]="partsTemplateVoices[0]" [code]="songCommonService.getInstrumentalPartCode(songSessionService.song, 'Prelude')"></instrument-voices>

    <h2>Glas</h2>
    <instrument-voices [templateVoices]="getTemplateVoices('Voice')" [code]="songCommonService.getSongCode(songSessionService.song)"></instrument-voices>

    <h2>Orgulje</h2>
    <instrument-voices [templateVoices]="getTemplateVoices('Organ')" [code]="songCommonService.getSongCode(songSessionService.song)"></instrument-voices>

    <h2>Tekst</h2>
    <song-lyrics [stanzas]="songSessionService.song.Stanzas"></song-lyrics>

    <h2>Međuigra</h2>
    <instrument-voices [templateVoices]="partsTemplateVoices[1]" [code]="songCommonService.getInstrumentalPartCode(songSessionService.song, 'Interlude')"></instrument-voices>

    <h2>Završetak</h2>
    <instrument-voices [templateVoices]="partsTemplateVoices[2]" [code]="songCommonService.getInstrumentalPartCode(songSessionService.song, 'Coda')"></instrument-voices>

    <div *ngIf="preview" style="text-align:center;">
        <embed [src]="domSanitizer.bypassSecurityTrustResourceUrl(pdfFileName)" width="800" height="500" *ngIf="preview && !spinner"/>
    </div>
    <button type="button" class="btn btn-default" (click)="previewSong()" [disabled]="keyTime.previewEnabled() || spinner">Pregledaj</button>
    <button type="button" class="btn btn-default" (click)="createUpdateSong()" [disabled]="keyTime.previewEnabled() || spinner || voicesInvalid()">Spremi</button>
    <img src="app/assets/image/spinner.gif" style="width:100px;" *ngIf="spinner"/>
</div>